@model O2V1Web.Models.ViewModels.CountsQueryModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Criteria";
}

<div class="wrapper">
<!-- Header Section Starts -->
<div class="headercontainer">
    <div class="row">
        <div class="col-md-4">
            <div class="menu-btn"></div>
        </div>
        <div class="col-md-4 text-center hedertext"> Count & Order</div>
        <div class="col-md-4">
            <div class="pull-right menupaddingright">
                <div class="pull-left dropdownmenusize1">
                    <img src="~/Content/images/user.jpg" width="31" height="31" alt="" class=" img-circle imgmargintop">
                </div>
                <div class="pull-left dropdownmenusize2">
                    <nav id="primary_nav_wrap">
                        <ul>
                            <li>
                                @*<a href="#">John Doe<b class="caret"></b></a>*@
                                <a href="#">
                                    @Session["LogedCosUserFullname"]<b class="caret"></b>
                                </a>
                                <ul>
                                    @*<li><a href="index01.html">Signout</a></li>*@
                                    <li>
                                        <a href="@Url.Action("SignOut", "Access")">Signout </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Header Section Ends -->
<!-- Accordian Section Starts-->
<div class="accordiancontainer">
<div class="col-md-12">
<div class="panel-group" id="accordion">
<div class="panel panel-default">
<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
    <div class="panel-heading">
        <h4 class="panel-title acoordiancenter"> <i class="fa fa-bar-chart accoicon" aria-hidden="true"></i>Count</h4>
    </div>
</a>
<div id="collapse1" class="panel-collapse collapse in">
<div class="panel-body">
<div class="col-md-12">
<!-- Section Content Starts-->
<div class="accoinnerconatiner">
    <!-- Count Section Starts -->
    <div class="row">
        <div class="col-sm-12">
            <!-- Section 1 Starts -->
            <div class="tabletopsection">
                <div class="row">
                    <div class="col-sm-6 text-left">
                        <span class="tableheadtext">Enter Criteria</span>
                    </div>
                </div>
            </div>
            <div class="newordercontainer">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="container body-content">
                            @using (Html.BeginForm("SyncQuery", "Home", FormMethod.Post, new { name = "frmCritera", id = "frmCriteria" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-horizontal">
                                    <div class="container">
                                        
                                        <div class="grid">

                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <div>
                                                                <div>
                                                                    <label class="control-label" for="basicinput">Query Name </label>
                                                                </div>
                                                                <div>
                                                                    @Html.TextBoxFor(model => model.QueryName)
                                                           
                                                                </div>
                                                                @Html.ValidationMessageFor(model => model.QueryName)
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div>
                                                                <div>
                                                                    <label class="control-label" for="basicinput">Query Id </label>
                                                                </div>
                                                                <div>
                                                                    @Html.TextBoxFor(model => model.QueryId, new { @readonly = "readonly" })
                                                               
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-sm-2">
                                                            <div>

                                                                <label class="control-label" for="basicinput">Select Table </label>

                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">

                                                            <div>

                                                                <label class="control-label" for="basicinput">Select Column </label>

                                                            </div>
                                                        </div>
                                                        
                                                        <div class="offset-2 col-sm-2">

                                                            <div>

                                                                <label class="control-label" for="basicinput">Select Compare Criteria </label>

                                                            </div>
                                                        </div>


                                                    </div>


                                                    <div class="row">
                                                        <div class="col-sm-2">
                                                            <div>

                                                                @Html.DropDownListFor(model => model.SelectedTable, // 1. Store selected value in Model.SelectedTable;
                                                                                                            // when page is rendered after postback,
                                                                                                            // take selected value from Model.SelectedTable.

                                                            // 2. Take list of values from Model.States
                                                            Model.SelectTables,

                                                            // 3. Text for the first 'default' option
                                                            "- Please select a table -",

                                                            //4. A class name to assign to <select> tag
                                                            new { @class = "form-control" })
                                                                @Html.ValidationMessageFor(model => model.SelectedTable)
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div>


                                                                @Html.DropDownListFor(model => model.SelectedColumn, // 1. Store selected value in Model.SelectedTable;
                                                                                                             // when page is rendered after postback,
                                                                                                             // take selected value from Model.SelectedTable.

                                                            // 2. Take list of values from Model.States
                                                            Model.SelectColumns,

                                                            // 3. Text for the first 'default' option
                                                            "- Please select a column -",

                                                            //4. A class name to assign to <select> tag
                                                            new { @class = "form-control" })
                                                            </div>
                                                            <span id="columns-loading-progress" style="display: none;">Please wait..</span>
                                                            @Html.ValidationMessageFor(model => model.SelectedColumn)


                                                        </div>
                                                        <div class="col-sm-2">
                                                            @Html.TextAreaFor(m => m.SelectedColumnDisplayed, new { @readonly = "readonly", id = "txtCriteriaSelected" })
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div>

                                                                @Html.DropDownListFor(model => model.CriteriaModel.SelectedCriteria, // 1. Store selected value in Model.SelectedTable;
                                                                                                                             // when page is rendered after postback,
                                                                                                                             // take selected value from Model.SelectedTable.

                                                            // 2. Take list of values from Model.SelectCriteria
                                                            Model.CriteriaModel.SelectCriteria,

                                                            // 3. Text for the first 'default' option
                                                            "- Please select a criteria -",

                                                            //4. A class name to assign to <select> tag
                                                            new { @class = "form-control" })
                                                                @Html.ValidationMessageFor(model => model.CriteriaModel.SelectedCriteria)


                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            @Html.TextBoxFor(model => model.CriteriaModel.CriteriaCompareValue)
                                                            @Html.ValidationMessageFor(model => model.CriteriaModel.CriteriaCompareValue)
                                                        </div>
                                                    </div>


                                                    <div class="row">
                                                        <div class="col-sm-3  ">
                                                            <div class="col-md-3 form-group pull-left">
                                                                <input class="btn btn-primary" type="submit" value="Add Criteria" class="btn btn-default" />
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="col-sm-3">
                                                            <div class="col-md-3 form-group pull-left">
                                                                <input  class="btn btn-link" type="submit" value="Get Query Criteria" class="btn btn-default" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                @Html.ValidationSummary(true)

                                            </div>

                                        </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Right Section Ends -->
    </div>
    <!-- Section Content Ends-->
</div>
<div class="accoinnerconatiner">
    <!-- Count Section Starts -->
    <div class="row">
        <div class="col-sm-12">
            <!-- Section 1 Starts -->
            <div class="tabletopsection">
                <div class="row">
                    <div class="col-sm-6 text-left">
                        <span class="tableheadtext">Select Criteria</span>
                    </div>
                </div>
            </div>
            <div class="newordercontainer">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-xs-12 col-sm-4">
                            <label>Select criteria where all of the following apply</label>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <div style="height: 200px; overflow: auto;">
                        <table class="table table-striped tableborder ">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Criteria</th>
                                    <th>Change</th>
                                    <th>Add</th>
                                    <th>Remove</th>
                                    <th>Disable</th>
                                </tr>
                            </thead>

                            <tbody>
                            @foreach (var criteria in Model.QueryCriteria)
                            {
                                <tr>
                                    <th scope="row">@criteria.Sequence</th>
                                    <td>@criteria.Description</td>
                                    <td>
                                        <input type="image" src="~/Content/images/icon01.png" width="22" height="22" alt="" onclick="msg('change')">
                                    </td>
                                    <td>
                                        <input type="image" src="~/Content/images/icon03.png" width="20" height="20" alt="" onclick="msg('add')">
                                    </td>
                                    <td>
                                        <input type="image" src="~/Content/images/icon02.png" width="17" height="17" alt="" onclick="msg('remove')">
                                    </td>
                                    <td>
                                        <input type="image" src="~/Content/images/icon04.png" width="19" height="19" alt="" onclick="msg('disable')">
                                    </td>
                                </tr>
                            }
                            
                           
                            </tbody>

                        </table>
                        <!-- Your Table Here -->
                    </div>


            </div>
            </div>
            <div class="tabletopsection">
                <div class="row">
                    <div class="col-sm-6 text-left">
                        <span class="tableheadtext">Result</span>
                    </div>
                </div>
            </div>
            <div class="newordercontainer">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <label>Breakdown is under process, please wait</label>
                        <div class="progress">
                            <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                <span class="sr-only">80% Complete(danger)</span>
                                80%
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="buttonsspace01">
                            <a data-toggle="collapse" data-target="#collapse2" class="topbutton01">Order Data</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Right Section Ends -->
    </div>
    <!-- Section Content Ends-->
</div>
<br/>
</div>
</div>
</div>
</div>
<div class="panel panel-default ">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        <div class="panel-heading">
            <h4 class="panel-title acoordiancenter"> <i class="fa fa-list accoicon" aria-hidden="true"></i>Order </h4>
        </div>
    </a>
    <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">
            <!-- Section Content Starts-->
            <div class="accoinnerconatiner">
                <!-- Count Section Starts -->
                <div class="row row-content">

                    <!-- Left Section Starts -->
                    <div class="col-md-4">

                        <!-- Section 2 Starts -->
                        <div class="tabletopsection">
                            <div class="row">
                                <div class="col-md-12 text-left">
                                    <strong>General Information</strong>
                                </div>
                            </div>
                        </div>
                        <div class="countsubconatiner">
                            <div class="row">
                                <div class="form-group col-md-12 orderpadding">
                                    PO Number: <input type="email" class="form-control" id="exampleInput" placeholder="">
                                </div>
                                <div class="form-group col-md-12 orderpadding">
                                    Description:<textarea class="form-control" rows="8" id="comment"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Left Section Ends -->
                    <!-- Right Section Starts -->
                    <div class="col-md-8">
                        <div class="tabletopsection">
                            <div class="row">
                                <div class="col-md-12 text-left">
                                    <strong>Output Settings</strong>
                                </div>
                            </div>
                        </div>
                        <div class="newordercontainer">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-sm-12 col-md-3">
                                        <label>Select Query:</label>
                                        <div class="dropdown">
                                            <select class="selectpicker" id="selectquery">
                                                <option disabled selected>Select Value</option>
                                                <option value="1">Query1</option>
                                                <option value="2">Query2</option>
                                                <option value="3">Query3</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4">
                                        <label>Select Table:</label>
                                        <div class="form-group">
                                            <label>
                                                <input type="checkbox" id="selectmortgage">
                                                Mortgage
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <label>
                                                <input type="checkbox" id="selectperson">
                                                Person
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <label>
                                                <input type="checkbox" id="selectproperty">
                                                Property
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-5">
                                        <label>Select Fields:</label>
                                        <div class="form-group">
                                            <label>
                                                <input type="checkbox" id="mortgagetype">
                                                MortgageType
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <label>
                                                <input type="checkbox" id="fullname">
                                                FullName
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <label>
                                                <input type="checkbox" id="selectproperty">
                                                PropertyValue
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Button Section Strats -->
                        <div class="col-md-12">
                            <div class="buttonsspace01">
                                <a data-toggle="collapse" data-target="#collapse3" class="topbutton01">PLACE ORDER</a>
                            </div>
                        </div>
                        <!-- Button Section Ends -->
                    </div>
                    <!-- Right Section Ends -->
                </div>
            </div>
            <!-- Section Content Ends-->
        </div>
    </div>
</div>
<div class="panel panel-default">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        <div class="panel-heading">
            <h4 class="panel-title acoordiancenter"> <i class="fa fa-file-text-o accoicon" aria-hidden="true"></i>Files&nbsp;&nbsp; </h4>
        </div>
    </a>
    <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="col-md-12">
                <div class="accoinnerconatiner">
                    <!-- Section Content Starts-->
                    <div class="row">
                        <!-- Section Content Starts-->
                        <div class="tabletopsection">
                            <div class="row">
                                <div class="col-md-12 text-left">
                                    <strong>Download Your Files</strong>
                                </div>
                            </div>
                        </div>
                        <div class="countsubconatiner">
                            <a class="fa fa-file-excel-o" aria-hidden="true" style="font-size: 28px" onclick="msg('download file.cvs')"> File.cvs</a>
                        </div>
                        <!-- Section Content Ends-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<!-- Accordian Section Ends -->
<!-- Footer Section Starts-->
<div class="clearfix"></div>
<div class="footercontainer"> </div>
<!-- Footer Section Ends -->
<script src="~/Content/js/classie.js"></script>
<script src="~/Content/js/main.js"></script>
<script src="~/Content/js/pushy.min.js"></script>
@section Scripts {
    <script type="text/javascript">

        $(function () {
            $("#SelectedColumn").change(function () {
                var selectedColumnName = $(this).val();
                $("#txtCriteriaSelected").val(selectedColumnName);
            });
        });
       

        $(function() {
            $("#SelectedTable").change(function() {
                var selectedItem = $(this).val();
                var ddlColumn = $("#SelectedColumn");
                var columnLoadProgress = $("#columns-loading-progress");
                columnLoadProgress.show();
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.RouteUrl("GetTableColumns"))",
                    data: { "tableName": selectedItem },
                    success: function(data) {
                        ddlColumn.html('');
                        ddlColumn.append($('<option></option>').val("").html("Select Column..."));

                        $.each(data,
                            function (id, option) {
                            
                                ddlColumn.append($('<option></option>').val(option.DropDownValue)
                                    .html(option.DropDownDisplay));
                            });
                        columnLoadProgress.hide();
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve columns for the table.');
                        columnLoadProgress.hide();
                    }
                });
            });

        });

    </script>
}</div>